body{
 color:aliceblue;
background: #000; 
 margin: 0px;
 margin-top: 2rem;
 margin-bottom: 2rem;
   padding: 0px;
   display: flex;
   justify-content: center; align-items: center;
   background: #031321;
   font-family: consolas;
}
.rick{
  margin:0;
  top: 0;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
button {
  margin-right: 5px;
  padding:2px;
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  font-size: 15px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #b1f3fe;
  background: #5fe6ff;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
button:hover {
  background-color: #FFFF00;
  color: #000;
  box-shadow: 0 0 5px #FFFF00,
              0 0 20px rgb(255 255 0 / 0.8),
              0 0 35px rgb(255 255 0 / 0.7),
              0 0 50px rgb(255 255 0 / 0.6);
  border-color: #fff;
}

.pickle{
  animation-iteration-count: infinite;  
  position: relative;
  height: 50px;
  top: 30px;
  left: 200px;
  animation: pickle 3s infinite linear;
  cursor: pointer;
}
.ric{
  position: relative;
  height: 50px;
  top: 30px;
  right: 40px;
  cursor: pointer;
}

.ric:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.animate{
  position: relative;
  height: 50px;
  top: 30px;
  right: 40px;
  cursor: pointer;
  animation: jump 750ms linear;
}

@keyframes jump{
  0%{top: 1px;}
  30%{top: -50px;}
  70%{top: -50px;}
  100%{top: 1px;}
}


@keyframes pickle{
  0%{left: 700px}
  100%{left: -20px}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -4px) rotate(-5deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
